h1 {
  text-align: center;
  color: orange;
}

#brand {
  text-decoration-line: unset;
}

h1 span {
  background-color: #2980b9;
  margin-left: 1%;
  font-family: "helvetica", "sans-serif";
  padding: 1%;
  padding-bottom: 0;
  border: none;
  color: white;
  box-shadow: 1px 1px 1px black;
}

.viewsOption {
  margin: 20vh 10vw;
}

.viewsOption ul {
  display: flex;
  padding-left: 0
}

.viewsOption li {
  list-style-type: none;
  flex: 1;
  text-align: center;
  border-radius: 10px;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0.5em 0 0.5em 0;
}

.viewsOption li a {
  text-decoration: none;
  color: #fff;
  font-family: "helvetica"
}

.user-view h3 {
  text-align: center;
  font-family: "Arial";
}

#runner-view-link {
  background-color: #00B294;
}

#user-view-link {
  background-color: #EA005E;
}


#current-order-display {
  text-align: center;
  font-family: "Times";
  color: #34495e;
  width: 70%;
  margin: 1em auto;
  box-shadow: 1px 1px 1px #34495e, -1px -1px 0.5px #34495e;
  border-radius: 10px;
  padding-top: 0.5%;
  overflow: hidden
}

#user-orders-management {
  display: flex;
  flex-direction: column;
}

#user-orders-management a {
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  text-decoration: underline dotted
}

#place-order-container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

#place-order-container input {
  flex: 2;
  margin: 0 0.5em;
}

#show-status-container {
  text-align: center;
}

#no-order-warning, #order-placement-status {
  background-color: #e74c3c;
  width: 50%;
  margin: 1em auto;
  box-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  color: #fff;
  font-family: "courier";
  padding-top: 0.5%;
  font-weight: bold;
}

#order-placement-status {
  background-color: #2ecc71;
}

#user-view-orders-link {
  text-align: center;
  cursor: pointer;
}

#show-orders-container ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

.each-order {
  text-align: center;
  width: 70%;
  margin-bottom: 0.3em;
  box-shadow: 1px 1px 1px #34495e, -1px -1px 0.5px #34495e;
  border-radius: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  overflow: auto;
}

.each-order span {
  border: none;
  background-color: #FF8C00;
  padding: 0 1% 0 1%;
  color: #fff;
}

.runner-view h3 {
  text-align: center;
  font-family: "Arial";
}

#runner-view-orders-link-container {
  display: flex;
}

#runner-view-orders-link-container a {
  flex: 1;
  text-align: center;
  cursor: pointer;
  text-decoration: underline dotted
}

#render-assignments-container {
  text-align: center;
  box-shadow: 1px 1px 1px #34495e, -1px -1px 0.5px #34495e;
  border-radius: 10px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
  overflow: auto;
  
}

#render-assignments-container span {
  background-color: #FF8C00;
  padding: 0 1% 0 1%;
  color: #fff;
}
