h1 {
  text-align: center;
  color: orange;
}

#brand {
  text-decoration-line: unset;
}

h1 span {
  background-color: #2980b9;
  margin-left: 1%;
  font-family: "helvetica", "sans-serif";
  padding: 1%;
  padding-bottom: 0;
  border: none;
  color: white;
  box-shadow: 1px 1px 1px black;
}

.viewsOption {
  border: solid;
}

.viewsOption ul {
  display: flex;
  padding-left: 0
}

.viewsOption li {
  list-style-type: none;
  flex: 1;
  text-align: center
}

.viewsOption li a {
  text-decoration: none
}

.user-view h3 {
  text-align: center;
  font-family: "Arial", "sans-serif";
}

#current-order-display {
  text-align: center;
  font-family: "Times", "serif";
  color: #34495e;
  width: 70%;
  margin: 1em auto;
  box-shadow: 1px 1px 1px #34495e, -1px -1px 0.5px #34495e;
  border-radius: 10px;
  padding-top: 0.5%
}

#user-orders-management {
  display: grid; 
}

#place-order-container {
  display: grid
}

#input-order-container {
  display: flex;
  justify-content: center;
}

#input-order-container input {
  flex: 2;
  margin: 0 0.5em;
}

#show-status-container {
  text-align: center;
}

#no-order-warning, #order-placement-status {
  background-color: #e74c3c;
  width: 50%;
  margin: 1em auto;
  box-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  color: #fff;
  font-family: "courier";
  padding-top: 0.5%;
  font-weight: bold;
}

#order-placement-status {
  background-color: #2ecc71;
}

#user-view-orders-link {
  text-align: center;
  cursor: pointer;
}

#show-orders-container ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}

.each-order {
  text-align: center;
  width: 70%;
  margin-bottom: 0.3em;
  box-shadow: 1px 1px 1px #34495e, -1px -1px 0.5px #34495e;
  border-radius: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
}

.each-order span {
  border: none
}

.runner-view h3 {
  border: solid;
  text-align: center;
}

#runner-view-orders-link-container {
  display: flex;
}

#runner-view-orders-link-container a {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

#render-assignments-container {
  border: solid;
  text-align: center;
}

#render-assignments-container p button,span {
  border: solid;
}

